ion-content {
  --background: #f7f7f7;
}

.timer-box {
  text-align: center;
  margin: 2rem 0;

  h1 {
    font-size: 3rem;
    margin: 0.5rem 0;
    color: #222;
  }

  &.total h2 {
    color: #555;
  }
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;

  ion-button {
    font-size: 1.2rem;
  }
}
